.hidden  {
    display: none;
}

#logo  {
    width: 400px;
    height: auto;
}

#iconLogo  {
    width: 80px;
    height: auto;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
 
 main {
    flex: 1 0 auto;
  }
 footer{
    background: linear-gradient(gray,#c6ff00);
 }

 #grad {
    background: linear-gradient(#03a9f4, white);
 }
 #grad2 {
    background: linear-gradient(white, grey);
 }
